.side-sub-container {
  list-style-type: none;
  height: 50vh;
}

.all-container {
  display: flex;
  flex-direction: row;
}
.link-dark {
  text-decoration: none;
  color: #ffffff;
}
.link-light {
  text-decoration: none;
  color: black;
}
.list-item-home {
  margin-top: 20px;
  margin-left: 10px;
}

.list-item-trend {
  margin-top: 20px;
  margin-left: 10px;
  color: #ffffff;
}
.list-item-game {
  margin-top: 20px;
  margin-left: 10px;
  color: #ffffff;
}
.list-item-save {
  margin-top: 20px;
  margin-left: 10px;
  color: #ffffff;
}
.contact-us-container {
  display: flex;
  list-style-type: none;
}
.contact-heading {
  font-size: 15px;
  margin-left: 15px;
}
.logo {
  width: 25px;
  margin: 5px;
}

.color-icon-dark {
  color: red;
  margin-top: 25px;
}

.color-icon-light {
  color: black;
}

.sidebar-dark-container {
  background-color: #424242;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-light-container {
  background-color: #ffffff;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
