.list-home-item-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.image-container {
  display: flex;
}
.profile-name-title-container {
  display: flex;
  flex-direction: row;
}

.thumbnail-url {
  height: 100px;
  width: 180px;
}
.channel-logo {
  height: 30px;
  width: 30px;
}
.title-name-container {
  height: 150px;
  width: 100px;
}
.name {
  font-size: 12px;
}
.title {
  font-size: 10px;
}
.view-count {
  font-size: 10px;
}
.published {
  font-size: 10px;
}
