.side-by-side-container {
  display: flex;
}

.image-close-container {
  display: flex;
  justify-content: space-between;
}

.close-button {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: none;
}
.side-first-container {
  display: flex;
  height: 1000px;
  max-width: 300px;
}
.side-second-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  height: 270px;
  width: 1000px;
  margin-top: 20px;
  background-size: cover;
  margin-left: 40px;
}
.nxt-image {
  height: 50px;
  width: 100px;
  margin-top: 20px;
}
.close {
  height: 30px;
  width: 30px;
}
.premium-non-premium-container {
  display: flex;
  flex-direction: row;
}

.input-field {
  width: 350px;
  height: 30px;
  background-color: #ffffff;
  border: white;
}

.search-button {
  width: 50px !important;

  height: 30px;
}
.search-icon {
  width: 20px;
  border-left: 1px #fafafa;
}

.home-video-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 3500px;
  width: 1200px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 40px;
}
.un-order-home-video-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.visible {
  display: visible;
}

.hide {
  display: none !important;
}
