.header-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.nxt-watch-light-dark-theme {
  width: 55%;
  margin-top: 10px;
  margin-left: 10px;
}
.header-un-order-list {
  display: flex;
  list-style-type: none;
}

.nxt-watch-Profile {
  width: 9%;
  margin-left: 15px;
}
.moon-icon {
  height: 40px;
  width: 55px;
  margin-left: 15px;
}
.logout-button {
  color: white;
  width: 90px;
  height: 30px;
  margin-right: 20px;
  border: #3b82f6 solid 1px;
  background-color: #3b82f6;
  margin-left: 18px;
}

.trigger-button {
  color: white;
  width: 90px;
  height: 30px;
  margin-right: 20px;
  border: #3b82f6 solid 1px;
  color: #3b82f6;
  margin-left: 18px;
}

.navbar-bg-dark {
  background-color: #424242;
}
.navbar-bg-light {
  background-color: #ffffff;
}
.icon {
  color: #ffffff;
  height: 35px;
  width: 25px;
}

.icon-1 {
  height: 35px;
  width: 25px;
}
.logout-paragraph {
  text-align: center;
}

.popup-container {
  background-color: #424242;
  height: 100px;
  border: none;
}
.pop-logout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.trigger-button-close {
  background-color: #212121;
  color: #f4f4f4;
  border: 1px solid #424242;
}
